<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMinside</title>
    <link rel="manifest" href="manifest.json" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/musicing.css">

  </head>
  <body>
    <%- include('nav.html') %>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const inputElements = document.getElementsByTagName("input");
          for (let i = 0; i < inputElements.length; i++) {
              inputElements[i].spellcheck = false;
              inputElements[i].autocomplete = 'off';
          }
      });
    </script>
    <form action="/musicing/making" method="post" enctype="multipart/form-data" accept-charset="utf-8" id="myForm">
      <div id="index">
        <div class="index-item" id="first-index-item">
          <label id="file-label" for="imageInput">
            <div class="btn-upload">표지는 1 : 1 비율이 좋아요.</div>
          </label>
          <input type="file" name="upload" id="imageInput" accept="image/*">
          <div id="uploadedImageBorder" class="imageChange" style="display:none;">
            <img id="uploadedImage" src="" alt="업로드된 이미지">
          </div>
          <script>
            const imageInput = document.getElementById('imageInput');
            const uploadedImage = document.getElementById('uploadedImage');
            imageInput.addEventListener('change', function () {
                const file = imageInput.files[0];
                const reader = new FileReader();
    
                reader.onload = function (e) {
                    uploadedImage.src = e.target.result;
                    document.querySelector('#uploadedImageBorder').style.display = 'block';
                    document.querySelector('#file-label').style.display = 'none';
                };
                window.addEventListener('load', function () {
              const gridItems = document.querySelectorAll('.imageChange');

              function setSameHeight() {
                gridItems.forEach(item => {
                  item.style.height = item.offsetWidth + 'px';
                });
                }
                setSameHeight();
                window.addEventListener('resize', setSameHeight);
            });
    
                reader.readAsDataURL(file);
            });
            window.addEventListener('load', function () {
            const gridItems = document.querySelectorAll('.btn-upload');

            function setSameHeight() {
              gridItems.forEach(item => {
                item.style.height = item.offsetWidth + 'px';
              });
              }
              setSameHeight();
              window.addEventListener('resize', setSameHeight);
            });
          </script>

          <div class="mb-3 album-info" style="margin-top : 30px;">
            <label for="title" class="form-label">제목 *</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>

          <div class="mb-3 album-info">
            <label for="date" class="form-label">발매일 *</label>
            <input type="date" class="form-control" id="date" name="date">
          </div>

          <div class="mb-3 album-info">
            <label for="artist" class="form-label">아티스트 *</label>
            <input type="text" class="form-control" id="artist" value="<%= data.이름 %>" name="artist" readonly>
          </div>

          <div class="mb-3 album-info">
            <label for="songNumber" class="form-label">수록곡 수 *</label>
            <input type="number" min="1" max="99" class="form-control" id="songNumber" name="songNumber" placeholder="1 ~ 99">
          </div>
          <script>
            songNumber.addEventListener('change', (event) => {
              const songNumber = document.getElementById('songNumber');
              if (songNumber.value < 1 || songNumber.value > 99) {
                songNumber.value = null;
            }
            })
          </script>

          <div class="mb-3 album-info">
            <label for="explain" class="form-label">설명</label>
            <textarea class="form-control" id="explain" placeholder="안 적어도 괜찮아요." name="explain"></textarea>
          </div>

          <div class="mb-3 album-info">
            <label for="url" class="form-label">외부 URL</label>
            <input type="text" class="form-control" id="url" placeholder="이것도 괜찮아요." name="url">
          </div>

          <div class="mb-3 album-info">
            <label for="type" class="form-label">유형 *</label><br>
            <select class="form-select" id="type" name="type" style="box-shadow : none">
              <% const type = [ '정규', 'EP', '싱글', '미니', 'OST', '리메이크', 'Remix' ] %>
              <option selected></option>
              <% for ( let j = 0; j < type.length; j++ ) { %>
                <option value="<%= type[j] %>"><%= type[j] %></option>
              <% } %>
            </select>
          </div>

          <div class="mb-3 album-info">
            <label class="form-label">장르 *</label><br>
            <script>
              const genre = [ '랩', '힙합', '댄스', '발라드', 'R&B', 'Soul', '애니메이션', '웹툰', 'POP', 'JPOP', '록', '메탈', '뮤직테라피' ];
              const genreName = [ 'rap', 'hiphop', 'dance', 'ballad', 'RnB', 'Soul', 'animation', 'webtoon', 'pop', 'jpop', 'musictherapi' ];
              for ( let i = 0; i < genre.length; i++ ) {
                document.write( `
                  <input type="checkbox" class="btn-check" id="btn-check-${i}-outlined" name=${genreName[i]} autocomplete="off">
                  <label class="btn btn-outline-secondary" for="btn-check-${i}-outlined">${genre[i]}</label>` )
              }
            </script>
          </div>
          <input type="button" id="album-info-save" value="저장" onclick="
              let firstIndexItem = document.getElementById('first-index-item')
              document.getElementById('submit').style.display = 'block';
              document.getElementById('song-list').style.display = 'block';
              this.style.display = 'none';
              firstIndexItem.style.pointerEvents = 'none';
              firstIndexItem.style.opacity = '0.3';
              let x = document.getElementsByClassName('artistName');
              for ( let i = 0; i < x.length; i++ ) {
                x[i].value = document.getElementById('artist').value;
              }">
        </div>
        <div class="index-item" id="second-index-item">
          <ul class="list-group list-group-flush" id="song-list" style="display:none;">

          </ul>
          <div id="lyrics">

          </div>
              <script>
                const songNumber = document.getElementById('songNumber')
                const albumInfoSave = document.getElementById('album-info-save');
                albumInfoSave.addEventListener('click', (event) => {
                  const artist = document.getElementById('artist').value;
                  let k = songNumber.value;
                  for ( let i = 0; i < k; i++ ) {
                    const listItem = document.createElement('li');
                    listItem.classList.add('list-group-item');
                    if ( i + 1 < 10 ) {
                      listItem.innerHTML = `
                        <input type="checkbox" class="btn-check guide-check" name="${i + 1}-guide" id="guide${i + 1}" autocomplete="off">
                        <label class="btn guide-btn fw-light guide-lavel" for="guide${i + 1}">19</label>
                        <input type="checkbox" class="btn-check title-check" name="${i + 1}-title" id="titleSong${i + 1}" autocomplete="off">
                        <label class="btn title-btn fw-light title-lavel" for="titleSong${i + 1}">TITLE</label>
                        <h4 style="display: inline" class="songNum fw-lighter">0${i + 1}</h4>
                        <input type="text" placeholder="제목" class="song-title fw-lighter" name="songTitle" autocomplete="off" spellcheck="false">
                        <input type="text" class="song-title fw-lighter artistName fs-6" value="${artist}" disabled>
                        <input type="button" class="album-detail" value="➡️" onclick="
                        document.getElementById('${i + 1}-lyrics').style.display = 'block';
                        document.getElementById('song-list').style.display = 'none';
                        document.getElementById('${i + 1}-button').style.display = 'block';
                        document.getElementById('submit').style.display = 'none';
                        document.getElementById('${i + 1}Label').style.display = 'block';
                        ">
                    `;
                    } else {
                      listItem.innerHTML = `
                        <input type="checkbox" class="btn-check guide-check" name="${i + 1}-guide" id="guide${i + 1}" autocomplete="off">
                        <label class="btn guide-btn fw-light guide-lavel" for="guide${i + 1}">19</label>
                        <h4 style="display: inline" class="songNum fw-lighter">${i + 1}</h4>
                        <input type="text" placeholder="제목" class="song-title fw-lighter" name="songTitle" autocomplete="off" spellcheck="false">
                        <input type="text" class="song-title fw-lighter artistName fs-6" value="${artist}" disabled>
                        <input type="button" class="album-detail" value="➡️" onclick="
                        document.getElementById('${i + 1}-lyrics').style.display = 'block';
                        document.getElementById('song-list').style.display = 'none';
                        document.getElementById('${i + 1}-button').style.display = 'block';
                        document.getElementById('submit').style.display = 'none';
                        document.getElementById('${i + 1}Label').style.display = 'block';
                        ">
                    `;
                    }
                    const songList = document.getElementById('song-list');
                    songList.appendChild(listItem);

                    const lyricsItemDiv = document.createElement('div');
                    lyricsItemDiv.classList.add('lyrics-item');

                    const audioLabel = document.createElement('label');
                    audioLabel.setAttribute('for', `${i + 1}Audio`);
                    audioLabel.setAttribute('id', `${i + 1}Label`);
                    audioLabel.textContent = '오디오 파일을 업로드해줘요.'
                    audioLabel.setAttribute('style', 'font-weight:400; color : gray; display:none; border : 1px solid gray; margin-bottom: 10px; padding-top : 5px; padding-bottom : 5px; padding-right : 10px; padding-left : 10px; border-radius : 15px;');
                    audioLabel.classList.add('labelFile');

                    const audio = document.createElement('input');
                    audio.setAttribute('type', 'file');
                    audio.setAttribute('name', 'upload');
                    audio.setAttribute('id', `${i + 1}Audio`);
                    audio.setAttribute('style', 'display:none');
                    audio.setAttribute('autocomplete', 'off');
                    audio.setAttribute('accept', '.mp3, .ogg, .wav');
                    audio.classList.add('audioFile');

                    const textarea = document.createElement('textarea');
                    textarea.setAttribute('name', 'lyrics');
                    textarea.setAttribute('spellcheck', 'false');
                    textarea.setAttribute('placeholder', '가사를 입력해주세요.');
                    textarea.setAttribute('id', `${i + 1}-lyrics`);
                    textarea.setAttribute('style', 'display:none');
                    textarea.classList.add('lyricsWrite', 'fs-5', 'fw-lighter');

                    const button = document.createElement('input');
                    button.setAttribute('type', 'button');
                    button.setAttribute('value', '저장');
                    button.setAttribute('id', `${i + 1}-button`);
                    button.setAttribute('class', 'save-button')
                    button.setAttribute('style', 'display:none');
                    button.setAttribute('onclick', `
                    function isHangul(text) {
                        const hangulRegex = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
                        return hangulRegex.test(text);
                      }
                    if (isHangul(document.getElementById('uploadedImage').src)) {
                      alert('파일 이름은 영어만 가능합니다')
                    } else {
                      document.getElementById('song-list').style.display = 'block';
                      document.getElementById('${i + 1}-lyrics').style.display = 'none';
                      document.getElementById('${i + 1}Label').style.display = 'none';
                      this.style.display = 'none';
                      document.getElementById('submit').style.display = 'block';
                    }
                    `)
                    
                    lyricsItemDiv.appendChild(audio);
                    lyricsItemDiv.appendChild(audioLabel);
                    lyricsItemDiv.appendChild(textarea);
                    const lyricsContainer = document.getElementById('lyrics');
                    lyricsContainer.appendChild(lyricsItemDiv);
                    lyricsContainer.appendChild(button);
                    lyricsItemDiv.appendChild(button);

                    document.getElementById(`${i + 1}Audio`).addEventListener('change', function () {
                      const fileInput = document.getElementById(`${i + 1}Audio`);
                      const fileLabel = document.getElementById(`${i + 1}Label`);

                      if (fileInput.files && fileInput.files[0]) {
                        const originalFileName = fileInput.files[0].name;
                        fileLabel.textContent = originalFileName;
                      }
                    });
                    }
                  });
              </script>
        </div>
      </div>
      <input type="submit" id="submit" value="업로드" style="display : none;">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
