<!doctype html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>AMinside</title>
  </head>
  <body>
    <%- include('nav.html') %>
    <form action="/login_process" method="post">
        <div id="log-in-box">
            <h2 class="log-in-lists" style="font-weight:lighter;">진정한 어멍을 향한 도약.</h2>
            <div class="form-floating mb-3 log-in-lists">
                <input type="text" class="form-control" id="floatingInput" placeholder="id" name="id" autocomplete="off">
                <label for="floatingInput">아이디</label>
            </div>
            <div class="form-floating log-in-lists">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pw" autocomplete="off">
                <label for="floatingPassword">비밀번호</label>
            </div>
            <button type="submit" class="btn btn-outline-secondary log-in-lists" style="
            padding-bottom: 6px; margin-top: 5px; margin-bottom: 13px;">로그인</button>
            <h4 class="log-in-lists"><a href='/sign_up' style="font-size: 15px; color:#c1c1c1; font-weight:lighter;">회원 가입</a></h4>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>