<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMinside</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/nav.css">
  </head>
  <body>
    <%- include('nav.html') %>
    <form action="/write_process" method="post" enctype="multipart/form-data">
      <div class="container">
        <div class="mb-3">
            <input type="text" class="form-control mt-5 description" id="title" placeholder="제목을 입력해주세요." name="title" style="outline:none;">
        </div>
        <div class="mb-3">
          <textarea class="form-control description" id="body" style="height: 480px; resize: none;" name="body"></textarea>
        </div>
        <div class="d-flex" id="file-submit-flex">
          <div class="mb-3" id="file">
            <input class="form-control form-control-sm" type="file" name="file" multiple>
          </div>
          <div id="anony">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="anony" checked>
            <label class="btn btn-outline-primary btn-sm" for="btncheck1">익명</label>
          </div>
          <button type="submit" id="uproad" class="btn btn-primary custom-btn btn-sm">업로드</button>
        </div>
      </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
