body {
    position : relative;
    height : 155vh;
    margin-bottom : 50px;
}
#album-info {
    position : absolute;
    left : 50%;
    transform: translate(-50%, 0);
    display : flex;
    flex-direction: column;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    width : 50%;
    min-width: 400px;
    margin : 45px;
    margin-left : 0;
    border-radius : 20px;
    background-color: rgb(249, 249, 249);
}
#playlist {
    border-radius : 5px;
    box-shadow : 0 0 4px rgba(0, 0, 0, 0.9)
}
#album {
    margin : 30px;
}
#image {
    width : 50%;
    margin-left : 50%;
    transform: translate(-50%, 0);
    height : auto;
    justify-content: center;
    border-radius : 15px;
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.9)
}
#title {
    margin-top : 30px;
}
#artist {
    display : flex;
    height : 24px;
}
#artist-image {
    width : 24px;
    height : 24px;
    border : 1px solid rgb(218, 218, 218);
    border-radius : 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right : 5px;
}
#totalSong {
    display: flex;
    justify-content: end;
    margin-right : 10px;
    margin-bottom : 5px;
    color : gray;
}
#list-group-item {
    display : grid;
    grid-template-columns: 33px 1fr 40px;
    white-space: nowrap;
    align-items: center;
}
#list-group-item2 {
    display : grid;
    grid-template-columns: 33px 1fr 40px;
    white-space: nowrap;
    align-items: center;
}
#list-group-item3 {
    display : grid;
    grid-template-columns: 33px 1fr 40px;
    white-space: nowrap;
    align-items: center;
}
#list-group-item4 {
    display : grid;
    grid-template-columns: 33px 1fr 40px;
    white-space: nowrap;
    align-items: center;
}
.list-group-item-third {
    display : flex;
    margin-bottom : 3px;
}
.songNum {
    color : gray;
}
#album-intro-nav {
    display :flex;
    margin-top : 30px;
    justify-content: space-between;
}
#album-intro-nav > h3 {
    font-weight:300
}
#album-intro-nav > h6 {
    color : gray;
    padding : 10px;
    font-size : 90%;
    cursor: pointer;
}
#album-intro {
    display : flex;
    margin-top : 15px;
}
.album-intro-detail {
    display : flex;
    flex-direction: column;
    margin-right : 10%;
}
.intro-item {
    color: gray;
}
#album-intro2 {
    margin-top : 20px;
    padding-top : 15px;
    border-top : 1px solid rgb(178, 178, 178);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
@media screen and (min-height : 80px) {
    #album-intro2 {
        overflow : hidden;
        text-overflow: ellipsis;
    }
}
#album-intro2-hidden {
    margin-top : 20px;
    padding-top : 15px;
    border-top : 1px solid rgb(178, 178, 178);
}
.title-lavel {
    margin: 0;
    font-size : 70%;
    border : 1px solid #008000;
    height : 16px;
    line-height: 14.5px;
    margin-right : 3px;
    width : 37px;
    color : green;
    border-radius : 45px;
    text-align : center;
    padding-right : 2px;
    padding-left : 2px;
}
.guide-lavel {
    margin: 0;
    color : black;
    border: 1px solid red;
    border-radius : 45px;
    height : 17px;
    width : 17px;
    font-size : 60%;
    text-align: center;
    margin-right : 3px;
}
.list-group-list {
    display : flex;
    flex-direction: column;
}
.list-group-list-name {
    font-size : 80%;
    color : rgb(96, 96, 96);
    font-weight: 300;
}
.list-group-list-title {
    display : flex;
    align-items: center;
}
.icon {
    cursor : pointer;
}
#album-intro-detail-info {
    white-space: nowrap;
}
#album-intro-detail-data {
    min-width: 260px;
    word-wrap: break-word;
}
#more-box {
    width : 100%;
    position : absolute;
    top : 50%;
    display : none;
}
.more-boxes {
    padding-left : 0;
    display : none;
    margin-bottom : 0;
}
.more-top {
    display : flex;
    flex-direction: column;
    border-radius: 13px 13px 0 0;
    background-color :rgb(123, 123, 123);
    color : white;
    padding-top : 15px;
    padding-left : 30px;
    padding-bottom : 15px;
    padding-right : 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.more-bot {
    background-color :rgb(68, 68, 68);
    color : white;
    padding-left : 30px;
    padding-top : 10px;
    padding-right : 30px;
    padding-bottom : 10px;
    cursor : pointer;
}
.more-top-artist {
    color : rgb(217, 217, 217)
}
#more-box {
    position : fixed;
    top : calc(100% - 240.055px)
}
.more-close {
    padding-bottom : 40px;
}
.slide-up {
    animation : slider 0.1s linear;
}
@keyframes slider {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}
#play-bar {
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    padding-right : 40px;
    padding-left : 40px;
    position : fixed;
    bottom : 0;
    left : 50%;
    transform: translate(-50%, 0);
    width : 100%;
    display : flex;
    justify-content: space-between;
    align-content: center;
    max-width: 750px;
    background-color: rgb(249, 249, 249);
}
#title-artist-playbar {
    display: flex;
    flex-direction: column;
    width : 100%;
    padding-top : 5px;
    padding-bottom : 5px;
}
#playbar-playbutton {
    width : 25px;
    position : absolute;
    top: 50%;
    transform: translate(-200%, -50%);
    aspect-ratio: 1 / 1;
    cursor : pointer;
}
#playbar-closebutton {
    width : 20px;
    position : absolute;
    top: 50%;
    transform: translate(-70%, -50%);
    aspect-ratio: 1 / 1;
    cursor : pointer;
}
#playbar-title {
    display: -webkit-box;
    width : 70%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow : hidden;
    text-overflow: ellipsis;
}
