body {
    position: relative;
    height: 100vh;
}
#search-bar {
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -294.5px;
}
.search {
    white-space: nowrap;
    border: none;
}
#search-nav {
    padding-top:15px;
    padding-bottom:15px;
    padding-left : 15px;
    width:577px;
    border-radius: 10px;
    box-shadow: none;
    position : relative;
}
#search-bar:hover {
    box-shadow: 0 0.5px 5px black;
}
#search-button:hover {
    background-color: transparent;
}
p {
    position: absolute;
    transform: translate(5%, -120%);
    font-weight:lighter;
    color: rgb(158, 158, 158)
}