form {
    position: relative;
}
#log-in-box {
    max-width: 800px;
    margin: 0 auto;
    padding-left : 30px;
    padding-right : 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0%, 50%);
    position: relative;
}
.form-floating {
    width:100%
}
.log-in-lists {
    padding-bottom: 20px;
}
a:link {
    text-decoration: none;
}
#sign-box {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0%, 20%);
    position: relative;
}
input {
    box-shadow: none !important;
}