body {
    height: 100vh;
}
#music-sections {
    display : flex;
    flex-direction: column;
    align-items : center;
}
#music-upload {
    position : fixed;
    bottom : 30px;
    right : 30px;
    border : 1px solid black;
    border-radius : 50px;
    padding-top : 8px;
    padding-bottom : 8px;
    padding-right : 15px;
    padding-left : 15px;
    cursor : pointer;
    background-color: none;
    backdrop-filter: blur(10px);
}
#rank {
    margin-top : 50px;
    margin-bottom : 70px;
    font-weight : lighter;
    font-size : 50px;
}
#rank-music {
    max-width : 600px;
    width:80%;
    margin : 0 auto;
    box-shadow : 0 8px 7px rgba(0, 0, 0, 0.7)
}
.list-group-item {
    background-color : rgb(249, 249, 249);
    color : rgb(82, 82, 82);
}
#rank-music > li {
    padding-top : 15px;
    padding-bottom: 15px;
}
#album {
    margin-top : 70px;
    margin-bottom : 50px;
    font-size : 50px;
    font-weight: lighter;
}
#albums {
    padding-left: 0;
    width : 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap:30px;
    column-gap: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
.music {
    list-style : none;
    position :relative;
    border-radius : 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.album-container > .music > img {
    aspect-ratio: 1 / 1;
    position: absolute;
    width : 100%;
    height :auto;
    border-radius : 15px;
}
@media screen and (max-width : 500px) {
    #albums {
        padding-left: 0;
        display :flex;
        flex-direction: column;
        width : 100%;
        padding-right: 30px;
        padding-left: 30px;
    }
}
.list-group-item {
    display : grid;
    grid-template-columns: 30px 48px 1fr;
    gap : 10px;
    padding : 10px;
}
.titleNartist {
    display : flex;
    flex-direction: column;
}
.title {
    color : black;
    font-size : large;
    font-weight : 300;
}
.artist {
    font-size : small;
    color : gray;
    font-weight : 300;
}
.album-image-container {
    position: relative;
    border : 1px solid gray;
    border-radius : 10px;
}
.album-image {
    position : absolute;
    top : 50%;
    left :50%;
    transform: translate(-50%, -50%);
    max-height : 100%;
    border : 3px solid white;
    border-radius : 10px;
}
.rank-number {
    height : 100%;
    text-align: center;
    height : 48px;
    line-height : 48px;
    font-size : larger;
    color : gray;
}