body {
    position :relative;
}
#profileInfo {
    width: 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top : 30px;
}
#profileImageLabel {
    width : 50%;
    max-width:270px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    cursor : pointer;
}
#name {
    display:flex;
    margin-top : 30px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
#nickname {
    margin-right : 5px;
}
#uploadedImage {
    width : 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}
#logout {
    position :absolute;
    left : 50%;
    transform: translate(-50%, 0);
    margin-top : 15px;
    border-radius : 7px;
}
#playlist {
    margin-top : 50px;
}
#playlist-text {
    display : flex;
    justify-content: start;
}
.playlists {
    width : 100%;
    aspect-ratio: 1 / 1;
    text-align : center;
    cursor : pointer;
    border-radius : 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}
@media screen and (min-width:600px) {
    #playlists-container {
        display : grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin : 30px;
    }
}
@media screen and (max-width:900px) {
    @media screen and (min-width:500px) {
        #playlists-container {
            display : grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;
            row-gap: 30px;
            margin : 30px;
        }
    }
}
@media screen and (max-width:500px) {
    #playlists-container {
        display : flex;
        flex-direction: column;
        row-gap: 30px;
        margin : 30px;
    }
}
.playlists {
    position : relative;
}
.playlists-num {
    position: absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
#playlist-container {
    position: fixed;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width : 50%;
    min-width : 350px;
    border-radius : 15px;
    background-color : rgb(249, 249, 249);
    height : 90vh;
    padding : 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    display: none;
    overflow : hidden;
}
#song-lists {
    height : 100%;
    padding-left : 0;
    margin-bottom : 0;
    border-radius : 15px;
    background-color : rgb(188, 188, 188);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    overflow : scroll;
    box-sizing: border-box;
}

.list-group-item::-webkit-scrollbar {
    display: none;
}
#closeIcon {
    position : absolute;
    top : 9px;
    right : 9px;
    width : 20px;
    cursor : pointer;
}
.titleNartist {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    max-width : 100%;
    overflow: hidden;
}
.list-group {
    position : relative;
    overflow : hidden;
}
.loop-icon {
    top : 50%;
    left : 50%;
}
.list-group-item {
    display : grid;
    grid-template-columns: 60px 1fr 20px 30px;
    position : relative;
    height : 10%;
    min-height : 10%;
    align-items: center;
}
.album-image {
    position: relative;
    height : 100%;
}
.album-image-list {
    position: absolute;
    height : 100%;
    border-radius : 7px;
    outline : 1.5px solid rgb(214, 214, 214)
}
.listArtist {
    font-size : 80%;
    color:rgb(130, 130, 130)
}
.album-more {
    position : relative;
    height : 100%;
}
.album-more-button {
    position : absolute;
    height : 35%;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}
.control {
    display : flex;
    justify-content: space-between;
}
.playbar {
    position : fixed;
    bottom : 0;
    left : 50%;
    transform: translate(-50%, 0);
    height : 75px;
    width : 40%;
    min-width : 300px;
    background-color: rgb(38, 38, 38);
    border-radius : 15px 15px 0 0;
    display : grid;
    grid-template-columns: 1fr 80px;
    align-items : center;
    padding-left : 30px;
    padding-right : 30px;
}
.first-grid {
    display : flex;
    flex-direction: column;
}
.guide-lavel {
    margin: 0;
    color : black;
    border: 1px solid red;
    border-radius : 45px;
    height : 17px;
    width : 17px;
    font-size : 60%;
    text-align: center;
    margin-right : 3px;
}
.titleFlex {
    display : flex;
    flex-direction: row;
    align-items : center;
}
#changeImage {
    background-color : white;
    border : 1px solid black;
    margin-bottom : 30px;
    border-radius : 8px;
}
.listTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width : 80%;
    white-space: nowrap;
}
.titleFlex {
    max-width : 100%;
}
.playlist-option {
    position : fixed;
    bottom : 30px;
    left : 50%;
    transform: translate(-50%, 0);
    list-style: none;
    padding-left : 0;
    margin: 0;
    height : 175px;
    width : calc(100% - 60px);
    border-radius : 15px;
    background-color : white;
    color : rgb(38, 38, 38);
    display : none;
    flex-direction: column;
    justify-content: space-between;
    padding-left : 30px;
    padding-right : 30px;
    padding-top : 40px;
    padding-bottom : 15px;
    box-shadow :rgba(0, 0, 0, 0.9);
    animation : slider 0.1s linear;
    z-index: 1;
}
.playlist-option-list > i {
    margin-right : 10px;
}
.more-close {
    position : absolute;
    right : 20px;
    top : 25px;
}
@keyframes slider {
    0% {
      transform: translate(-50%, 100%);
    }
    100% {
      transform: translate(-50%, 0);
    }
}
.slide-down {
    animation : slide-down 0.1s linear;
}

@keyframes slide-down {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 100%);
        display : none;
    }
}
.tearInfo {
    color : gray;
    margin-top : 20px;
    font-weight : 300;
}
.songTitle {
    width : 90%;
    max-width : 100%;
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
.songArtist {
    width : 90%;
    max-width : 100%;
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
.first-grid {
    width : 100%;
    max-width : 100%;
    overflow : hidden;
}