#song {
    position : absolute;
    left : 50%;
    transform: translate(-50%, 0);
    width : 50%;
    min-width: 400px;
    border-radius : 20px;
    background-color: rgb(249, 249, 249);
    margin-top : 45px;
    margin-right : 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
#song-info {
    backdrop-filter: blur(50px);
    padding : 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
#song-info-list {
    list-style : none;
    padding-left : 0;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title {
    text-align: center;
    padding-right : 10px;
    padding-left : 10px;
}
#artist {
    text-align: center;
    color : rgb(76, 76, 76);
    padding-right : 8px;
    padding-left : 8px;
}
#lyrics {
    color : rgb(0, 0, 0);
    margin: 0 auto;
    height : 20%;
    overflow: scroll;
    height : 70px;
    text-align : center;
    cursor : pointer;
    width : 388.19px;
}
#lyrics::-webkit-scrollbar {
    width: 0;
  }
#play-bar2 {
    display : flex;
    justify-content: center;
    margin-top : 20px;
    max-height : 30px;
}
.icons {
    height : auto;
    max-height : 30px;
}
#play-icon {
    padding-right : 11.955px;
    padding-left : 11.955px;
}
.audio-progress {
    width: 100%;
    height: 4px;
    background-color: #ccc;
    margin-top : 35px;
    position: relative;
    padding-top : 3px;
    padding-bottom : 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
  
.progress-bar {
    width: 0%;
    height: 100%;
    background-color: rgb(255, 171, 220);
    position: absolute;
    top: 0;
}
.progress-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(255, 171, 220);
    position: absolute;
    top: -4px;
    left: 0%;
    transform: translateX(-50%);
    cursor : pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.white-border {
    margin-bottom : 5px;
}
#lyrics-container {
    display : flex;
    flex-direction: column;
    align-items: center;
    position : relative;
}
#songImage {
    width : 50%;
    margin-top : 30px;
    margin-bottom : 20px;
    background-size : cover;
    align-items : center;
    aspect-ratio: 1 / 1;
}
#hiddenSongImage {
    position : absolute;
    width : 10%;
    background-size : cover;
    border-radius : 7px;
    outline : 2px solid white;
    margin-right : 20px;
    right : 0;
    bottom : 0;
    aspect-ratio: 1 / 1;
}